@font-face {
  font-family: "Gatwick";
  src: url("/fonts/PPGatwick/PPGatwick.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Telegraf";
  src: url("/fonts/PPTelegraf/PPTelegraf.woff2") format("woff2");
  font-style: normal;
}

/* Apply Telegraf Globally */
:root {
  font-family: "Telegraf", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* user-select: none; */
}

/* Remove duplicate body block */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Gatwick Font for SMARTLAND */
.smartland-title {
  font-family: "Gatwick", sans-serif;
  font-weight: bold;
}
